html, body {
  height: 100%;
  margin: 0;
  padding: 0 3px;
  font-family: 'Oswald';
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* align content to top */
  font-size: 11px;
  width: 100%;
  overflow-x: hidden; /* prevent horizontal scroll */

  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
}
